@model LandyBook.Models.RentalDTO
@{
    ViewData["Title"] = "Rentals";
}

<script>function enableReturnDate() {
        var rentDateInput = document.getElementById("RentDate");
        var returnDateInput = document.getElementById("ReturnDate");

        if (rentDateInput.value !== "") {
            returnDateInput.disabled = false;

            
            returnDateInput.min = getNextDay(rentDateInput.value);

            
            if (returnDateInput.value !== "" && returnDateInput.value < returnDateInput.min) {
                returnDateInput.value = returnDateInput.min;
            }
        } else {
            returnDateInput.disabled = true;
            returnDateInput.value = "";
        }
    }

    function getNextDay(dateString) {
        var currentDate = new Date(dateString);
        currentDate.setDate(currentDate.getDate() + 1);
        var nextDay = currentDate.toISOString().split('T')[0];
        return nextDay;
    }</script>

<div class="row">
    <div class="col-2"></div>
    <div class="text-center div__main">
        <h1 class="display-4">Please choose a rental date </h1>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md-8">
                <form asp-action="SelectDate" oninput="enableReturnDate()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="RentDate" class="control-label"></label>
                        <input asp-for="RentDate" id="RentDate" type="date" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="RentDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReturnDate" class="control-label"></label>
                        <input asp-for="ReturnDate" id="ReturnDate" type="date" class="form-control" disabled />
                        <span asp-validation-for="ReturnDate" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Check" class="btn btn-success" />
                    </div>
                    <br />
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="col-2"></div>
</div>








